{% extends 'Admin/AdminBase.html'%}

{% block main %}
{% csrf_token %}
{% load humanize %}

{% if messages %}
{% for message in messages %}
<div class="content-wrapper" style="min-height: 1017.2px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ message }} </h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {% endfor %}
    {% endif %}

    <!-- Main content -->
    <section class="content" style="text-align: center;">
      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <table id="example2" class="table table-responsive table-bordered table-hover dataTable table-la" role="grid" aria-describedby="example2_info">
                <thead>
                <tr role="row  ">
                    <th class="" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Browser: activate to sort column ascending">آیدی کاربر</th>
                    <th class="" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">نام محل کار</th>
                    <th class="" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">شماره محل کار</th>
                    <th class="" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">کدپستی </th>
                    <th class="" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">آدرس</th>
                    <th class="" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">خلاصه کار</th>
                    <th class="" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">واکنش</th>
                </tr>
                </thead>
                <tbody>
                {% for i in rq %}   
                <tr role="row" class="odd">
                  <td>{{i.user_id}}</td>
                  <td >{{i.workspacename}}</td>
                  <td>{{i.workspacetel}}</td>
                  <td>{{i.kodeposti}}</td>
                  <td>{{i.address}}</td>
                  <td>{{i.describe}}</td>
                  <td>
                    <a href="{% url 'SRQAccept' i.user_id %}" style="color: rgb(31, 187, 0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                          </svg>
                    </a>
                      <a href="{% url 'SRQDeclined' i.user_id %}" style="color: rgb(158, 0, 0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                      </a>
                    </a> 
                </td>
                </tr>
                {% endfor %}
                </tbody>

              </table></div></div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}