{% extends 'Seller/SellerBase.html'%}

{% block main %}
{% csrf_token %}
{% load humanize %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">عنوان صفحه</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h4>{{pr}}</h4>

                <p>تعداد محصولات</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                <h4>{{prs}}</h4>

                <p>تعداد محصولات فروخته شده</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="small-box bg-danger">
              <div class="inner">
                <h4>{{price|intcomma}} ریال</h4>

                <p>میزان فروش</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    {% if messages %}
    {% for message in messages %}
    <div class="col-12" style="text-align: center;margin-top: 12.5%;"><h1>{{ message }}</h1></div>
    {% endfor %}
    {% else %}
    <div class="col-12" style="text-align: center;margin-top: 12.5%;"><h1>به پنل فروشندگی خوش آمدید.</h1></div>
    {% endif %}
</div>
{% endblock %}


<div class="content-wrapper" style="min-height: 1017.2px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> </h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

