{% extends 'Base.html' %}
{% load static %}
{% block content %}

<div class="row m-5 justify-content-center">
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/images.png' %}">
                            <div class="card-body info">
                                <h4 class="card-title">دانشگاه فنی و حرفه ای</h4>
                                <p class="card-text">دانشکده شماره یک فنی شهید محمد منتظری مشهد مقدس</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-5 justify-content-center" style="text-align: center;">
                            <div class="card-body info">
                                <h4 class="card-title">درباره ما</h4>
                                <hr>
                                <strong class="card-text mt-2">آدرس : استان خراسان رضوی ، شهر مشهد مقدس ، ابتدای بولوار پیروزی ، میدان شهید کاوه (جام عسل) ، دانشکده محمد منتظری</strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


{% endblock %}