{% extends 'Base.html' %}

{% block content %}
{% csrf_token %}
<div class="row text-center container-fluid pt-5 justify-content-center ms-0" style="background-color: rgb(86, 171, 255);">
    {% for p in pr %}
        <div class="card m-3" style="width: 22rem;padding-right: unset;background-color: rgb(234, 212, 255);">
            <div style="width: 350px; height: 250px;">
                <img src="{{ p.Image.url }}" class="card-img-top h-100 w-100" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ p.Title }}</h5>
              <p class="card-text"> قیمت : {{ p.Price }} ریال</p>
              <h6 class="card-text">فروشنده: {{ p.User }} </h6>
              <div class="text-center mt-3"><a href="{% url 'ProductDetail' p.id %}" class="btn btn-primary sharp rounded-0 w-100 ms-1" type="button">نمایش محصول</a></div>
            </div>
          </div>
    
      {% endfor %}
</div>




{% endblock %}