{% extends 'Base.html' %}

{% block content %}
{% load humanize %}
{% csrf_token %}
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row justify-content-start">
            <div class="col-md-8 col-lg-6 col-xl-4 mt-5">
              <div class="card text-black" style="height: 450px;">
                <i class="fab  fa-lg px-3"></i>
                <img src="{{ pr.Image.url }}"class="card-img-top h-50" alt="Apple Computer" />
                <div class="card-body">
                  <div class="text-center">
                    <h5 class="card-title">{{ pr.Title }}</h5>
                  </div>
                  <div class="pt-3">
                    <div class="d-flex justify-content-between">
                      <span>فروشنده :</span><span>{{ pr.User }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between total font-weight-bold mt-4">
                    <span>قیمت :</span><span>{{ pr.Price|intcomma }} ریال</span>
                  </div>
                  <hr>

                    <div class="text-center text-light "><a href="{% url 'AddtoCart' pr.id %}" class="btn text-light sharp rounded-0 w-100 " type="button" style="background-color: black;">اضافه به سبد خرید</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-8 mt-5">
              <div class="card card-body h-100">
                <div class="d-flex justify-content-start pb-3 ">
                  <p>توضیحات : <span>{{ pr.Description }}</span> </p>
                </div>
                <hr>
                <div class="d-flex justify-content-start pb-3 ">
                  <span>اندازه یا وزن : <span>{{ pr.Size }}</span></span>
                </div>
                <hr>
                <div class="d-flex row justify-content-center pb-3 ">
                  <form action="{% url 'AddComment' pr.id %}" method="post">
                    {% csrf_token %}
                    <textarea class="w-100" placeholder="نظر" name="comment" id="" cols="109" rows="8"></textarea>
                    <input type="submit" class="btn bg-black w-100 pt-1 text-white" value="ارسال">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <h3 class="pt-5"> نظرات :</h3>
          <hr>
          {% for i in comments%}
          <div class="row m-5 shadow contact-clean">
            <div class="card-body border-1 bg-light" style="width: 30rem;text-indent: 2%;">
              {% if i.user %}
              <h6 class="pt-2">کاربر : {{i.user}} <span style="margin-right: 70%;font-size: small;">تاریخ : {{i.Jpublish}}</span></h6>
              {% else %}
              <h6 class="pt-2">کاربر : ناشناس <span style="margin-right: 70%;font-size: small;">تاریخ : {{i.Jpublish}}</span></h6>
              {% endif %}
              <p class="p-2">{{i.comment}}</p>
            </div>
          </div>
          
          {% endfor %}
        </div>
      </section>

{% endblock %}