{% extends 'Base.html' %}

{% block content %}
{% csrf_token %}

   <div class="row justify-content-center m-5">
    <div class="col-md-6 col-sm-10 ">
        <section class="shadow contact-clean ">
            {% if rq %}
            <div class="container row justify-content-center pt-5" style="height: 400px; text-align: center;">
                <div class="justify-content-center mt-5 pt-4">
                    <div class="card-body mt-5">
                        <strong class="fs-3">درخواست شما در حال بررسی است ...</strong>
                    </div>
                </div>
            </div>
            {% else%}
            <form method="post" action="{% url 'SellerRequestSend' %}" class=" rounded border-secondary shadow-lg p-5" method="post" style="background: rgb(255, 255, 255);">
                {% csrf_token %}
                {{request.user.SellerRequest.id}}
                <h2 class="text-center pb-2">درخواست فروشندگی</h2>
                <div class="form-group mb-3"><input class="form-control" type="text" name="name" placeholder="نام محل کار" style="margin-bottom: 15px;text-align: right;"><input class="form-control" type="text" placeholder="شماره محل کار" style="text-align: right;" name="tel"></div>
                <div class="form-group mb-3"><input class="form-control" type="text" name="kodeposti" placeholder="کد پستی محل" inputmode="tel" style="text-align: right;"></div>
                <div class="form-group mb-3"><textarea class="form-control" name="address" placeholder="آدرس" rows="14" style="text-align: right;margin-bottom: 16px;"></textarea><textarea class="form-control" name="describe" placeholder="خلاصه ای از نوع شغل" rows="14" style="text-align: right;"></textarea></div>
                <div class="form-group mb-3" style="text-align: center;"><button class="btn btn-dark" data-bss-hover-animate="pulse" type="submit">ارسال</button></div>
            </form>
            {% endif %}
        </section>
    
    </div>
   </div>
    {% endblock %}